.badge {
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
}

.btn {
    border: none;
    padding: 10px 20px;
}

.bg-primary {
    background-color: blue;
    color: white;
}

.bg-warning {
    background-color: yellow;
    color: black;
}

.bg-error {
    background-color: red;
    color: white;
}

.bg-success {
    background-color: green;
    color: white;
}