.badge {
    padding: 10px;
    border-radius: 12px;
    width: 20px;
    height: 20px;
    font-size: 16px;
}

.btn {
    border: none;
    padding: 10px 20px;
    width: 50px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.bg-green {
    background-color: #0b7969;
    color: white;
    width: 50px;
}

.bg-warning {
    background-color: yellow;
    color: black;
    width: 50px;
}

.bg-error {
    background-color: red;
    color: white;
}

.bg-success {
    background-color: #4CAF50;
    color: white;
}

.m-2 {
    margin: 5px;
}

.tag {
    font-size: 20px;
    display: block;
    width: 30px;
    height: 20px;
}